APP_NAME="Gym SaaS API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

FRONTEND_URL=http://localhost:3000
SESSION_DOMAIN=localhost
SANCTUM_STATEFUL_DOMAINS=localhost:3000,127.0.0.1:3000

PAYMONGO_BASE_URL=https://api.paymongo.com/v1
PAYMONGO_SECRET_KEY=
PAYMONGO_WEBHOOK_SECRET=
PAYMONGO_PAYMENT_METHODS=card,gcash,paymaya,grab_pay
PAYMONGO_SUCCESS_URL=http://localhost:3000/payments?checkout=success
PAYMONGO_CANCEL_URL=http://localhost:3000/payments?checkout=cancelled

PAYMENT_PROOF_DISK=public


DB_CONNECTION=sqlite
DB_DATABASE=database.sqlite

CACHE_STORE=database
QUEUE_CONNECTION=database
SESSION_DRIVER=database